Repository mitodl/salt-ops, pull requests merged in 2019-09, with the labels that each got.

#1002 Added location route for lti POST requests
  pillar/edx/ansible_vars/xpro.sls
Labels: DevOps, Needs Review, xPro

#1003 Applied bulk email hack to all envs
  salt/edx/hacks.sls
Labels: DevOps, Needs Review, residential

#1004 Manage edx buckets in separate state file
  salt/orchestrate/aws/s3_buckets/edx.sls
  salt/orchestrate/aws/s3_buckets/xpro.sls
  salt/orchestrate/edx/build_ami.sls
Labels: DevOps, Needs Review

#1005 Fixed issues with xpro worker auto-scaling
  pillar/salt_master.sls
  salt/orchestrate/aws/mitxpro_autoscaling.sls
  salt/reactors/mitxpro/edxapp_ec2_autoscale.sls
Labels: DevOps, Needs Review, xPro

#1008 Added MicroMasters catalog API url for discussions
  pillar/heroku/discussions.sls
Labels: DevOps, Needs Review

#1010 Added links to footer
  pillar/edx/ansible_vars/xpro.sls
Labels: DevOps, Needs Review, xPro

#1012 Upgrade ubuntu and python
  pillar/edx/xqwatcher_600.sls
  pillar/edx/xqwatcher_686_residential.sls
  salt/edx/xqwatcher.sls
  salt/orchestrate/aws/cloud_profiles/xqwatcher.conf
Labels: DevOps, Needs Review, residential

#1013 Add sentry to openedx instances
  pillar/edx/ansible_vars/cloud_deployment.sls
  pillar/edx/ansible_vars/next_residential.sls
  pillar/edx/ansible_vars/residential.sls
  pillar/edx/ansible_vars/xpro.sls
  salt/edx/hacks.sls
Labels: DevOps, Needs Review, residential, xPro

#1015 Added mitxpro catalog url to open discussions
  pillar/heroku/discussions.sls
Labels: Needs Review

#1016 Updated pgbouncer settings for xpro app
  pillar/heroku/discussions.sls
Labels: DevOps

#1017 Updated to allow for mapping anonymized emails in xpro
  pillar/data/email_mapping_etl.sls
  pillar/data/mit_open_etl.sls
  pillar/data/mitx_etl.sls
  pillar/top.sls
  salt/etl/email_mapping.sls
  salt/etl/init.sls
  salt/etl/mit_open.sls
  salt/top.sls
Labels: Data, DevOps, Needs Review

#1020 Changes necessary to use mailgun for email in xpro
  pillar/edx/ansible_vars/cloud_deployment.sls
Labels: DevOps, Needs Review, residential, xPro
