Repository mitodl/salt-ops, pull requests merged in 2023-08, with the labels that each got.

#1572 Md/issue 1657
  pillar/heroku/mit_open.sls
  salt/heroku/proxy_config.sls
Labels: DevOps, work in progress, Design

#1576 Removed unnecessary env
  pillar/heroku/mitopen.sls
Labels: DevOps

#1577 Vault path reconciliation for mitopen
  pillar/heroku/mitopen.sls
Labels: DevOps, product:mit-open

#1573 feat: add feature flags for select field
  pillar/heroku/ocw-studio.sls
Labels: Waiting on Author, OCW, product:ocw

#1578 Adds the two Posthog settings to the list for MITx Online.
  pillar/heroku/mitxonline.sls
Labels: Waiting on Author, product:mitx-online

#1579 Fixing the embedly vault path for MIT Open
  pillar/heroku/mitopen.sls
Labels: bug, product:mit-open

#1574 feat: Add retirement service user creds
  pillar/heroku/mitxonline.sls
Labels: Waiting on Author
